@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Cantora+One&display=swap");

body {
  height: 98vh;
  width: 100vw;
  background: rgb(199, 247, 68);
  background: linear-gradient(
    180deg,
    rgba(199, 247, 68, 1) 4%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  --bluePrim: #2602f5;
  color: var(--bluePrim);
  font-family: "Big Shoulders Display", cursive;
  margin: 9px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  position: relative;
}

#mrq1::before {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--bluePrim);
  margin-top: 5px;
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
}

#mrq1::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--bluePrim);
  margin-top: 5px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  font-size: 3rem;
  list-style-type: none;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#bubble {
  font-size: 2rem;
  margin: 6px 0px 2px 0px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.messages-container {
  font-family: "Cantora One", sans-serif;
}

.marquee__content {
  animation: scroll 12s linear infinite;
}

.chat-input {
  display: flex;
  height: 90px;
  background-color: rgba(199, 247, 68, 1);
  z-index: 0;
  align-items: flex-start;
}

.chat-input > input {
  font-family: "Cantora One", sans-serif;
  font-size: 1.2rem;
  color: var(--bluePrim);
  background-color: transparent;
  padding: 10px;
  text-align: top;
  flex-grow: 1;
  margin: 9px;
  border-top: 3px solid var(--bluePrim);
  border-bottom: 3px solid var(--bluePrim);
  border-left: none;
  border-right: none;
  outline: none;
}

.chat-input > input::placeholder {
  color: white;
}

.chat-input > button {
  margin: 9px;
  width: 120px;
  height: 30px;
  background-color: var(--bluePrim);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .chat-input {
    height: 30vh;
}
.chat-input > input {
  height: 80%;
}
}